.pac-container{
    z-index: 999999 !important;
}
.r-0{
    right: 0;
}
.l-auto{
    left: auto;
}
.cap-fullname{
    text-transform: capitalize;
}
@media (max-width: 668px){
    .gca_responsive.tabulator .tabulator-tableholder .tabulator-table{
        width: 100%;
    }
    .gca_responsive.tabulator .tabulator-header{
        display: none;
    }
    .gca_responsive.tabulator .tabulator-row{
        border: none;
    }
    .gca_responsive.tabulator .tabulator-row .tabulator-responsive-collapse{
        border: 1px solid rgb(226 232 240);
        margin: 0 0 10px;
        border-radius: 0.375rem;
    }
    .gca_responsive.tabulator .tabulator-row:last-of-type .tabulator-responsive-collapse{
        margin: 0;
    }
    .gca_responsive.tabulator .tabulator-row .tabulator-responsive-collapse{
        padding-left: .5rem !important;
        padding-right: .5rem !important;
    }
    .gca_responsive.tabulator .tabulator-row .tabulator-responsive-collapse table{
        width: 100%;
    }
    .gca_responsive.tabulator .tabulator-row .tabulator-responsive-collapse table tr td:first-child{
        display: none;
    }
    .gca_responsive.tabulator .tabulator-row .tabulator-responsive-collapse table tr td{
        padding: 0 0 .25rem;
    }
    .gca_responsive.tabulator .tabulator-row .tabulator-responsive-collapse table tr:last-child td{
        padding: 0 0 0;
    }


    /* Job List Table */
    #jobListTable.gca_responsive.tabulator .tabulator-row .tabulator-responsive-collapse table tr:first-child td{
        border-bottom: 1px solid rgb(226 232 240);
        padding-bottom: .4rem;
    }
    #jobListTable.gca_responsive.tabulator .tabulator-row .tabulator-responsive-collapse table tr:nth-child(2) td{
        padding-top: .5rem;
    }
    #jobListTable.gca_responsive.tabulator .tabulator-row .tabulator-responsive-collapse table tr:nth-child(3) td:last-child{
        padding-right: 35px;
    }
    /*#jobListTable.gca_responsive.tabulator .tabulator-row .tabulator-responsive-collapse table tr td{
        position: initial !important;
    }*/
    #jobListTable.gca_responsive.tabulator .tabulator-row .tabulator-responsive-collapse table tr td .addCalenderBtn{
        position: absolute;
        right: 0;
        top: -32px;
    }
    #jobListTable.gca_responsive.tabulator .tabulator-row .tabulator-responsive-collapse table tr td .addCalenderBtn.addedCalBtn{
        top: -36px;
    }

    /* Customer Job List Table */
    #customerJobListTable.gca_responsive.tabulator .tabulator-row .tabulator-responsive-collapse table tr:first-child td{
        border-bottom: 1px solid rgb(226 232 240);
        padding-bottom: .4rem;
    }
    #customerJobListTable.gca_responsive.tabulator .tabulator-row .tabulator-responsive-collapse table tr:nth-child(2) td{
        padding-top: .5rem;
    }
    #customerJobListTable.gca_responsive.tabulator .tabulator-row .tabulator-responsive-collapse table tr:nth-child(3) td:last-child{
        padding-right: 35px;
    }
    #customerJobListTable.gca_responsive.tabulator .tabulator-row .tabulator-responsive-collapse table tr td .addCalenderBtn{
        position: absolute;
        right: 0;
        top: -32px;
    }
    #customerJobListTable.gca_responsive.tabulator .tabulator-row .tabulator-responsive-collapse table tr td .addCalenderBtn.addedCalBtn{
        top: -36px;
    }


    .jalt_responsive.tabulator .tabulator-tableholder .tabulator-table{
        width: 100%;
    }
    .jalt_responsive.tabulator .tabulator-header{
        display: none;
    }
    .jalt_responsive.tabulator .tabulator-row{
        border: none;
    }
    .jalt_responsive.tabulator .tabulator-row .tabulator-responsive-collapse{
        border: 1px solid rgb(226 232 240);
        margin: 0 0 10px;
        border-radius: 0.375rem;
    }
    .jalt_responsive.tabulator .tabulator-row:last-of-type .tabulator-responsive-collapse{
        margin: 0;
    }
    .jalt_responsive.tabulator .tabulator-row .tabulator-responsive-collapse{
        padding-left: .5rem !important;
        padding-right: .5rem !important;
    }
    .jalt_responsive.tabulator .tabulator-row .tabulator-responsive-collapse table{
        width: 100%;
    }
    .jalt_responsive.tabulator .tabulator-row .tabulator-responsive-collapse table tr td:first-child{
        display: none;
    }
    .jalt_responsive.tabulator .tabulator-row .tabulator-responsive-collapse table tr td{
        padding: 0 0 .25rem;
    }
    .jalt_responsive.tabulator .tabulator-row .tabulator-responsive-collapse table tr:last-child td{
        padding: 0 0 0;
    }
    .jalt_responsive.tabulator .tabulator-row .tabulator-responsive-collapse table tr:last-child td{
        padding: 0 0 0;
    }

    .jalt_responsive.tabulator .tabulator-row .tabulator-cell[tabulator-field="id"]{
        display: none ! important;
    }
}


/* Full Calendar */
#jobCalendar .fc-daygrid-dot-event{
    align-items: start !important;
    padding: 3px;
    background-color: rgb(248 250 252);
}
#jobCalendar .fc-timegrid-event{
    padding: 3px;
}
#jobCalendar.fc-direction-ltr .fc-daygrid-event .fc-event-time{
    margin-right: .5rem;
    color: rgb(var(--color-primary));
}
#jobCalendar.fc-direction-ltr .fc-daygrid-event .fc-event-title div:first-of-type{
    color: rgb(var(--color-primary));
}
#jobCalendar .fc-daygrid-dot-event:hover{
    background-color: rgba(30, 58, 138, .2);
}
#jobCalendar.fc-direction-ltr .fc-timegrid-event .fc-event-time{
    padding-left: 0;
}
#jobCalendar.fc-direction-ltr .fc-timegrid-event .fc-event-title div:last-of-type{
    color: rgb(248 250 252);
    font-weight: normal;
}
#jobCalendar.fc-direction-ltr .fc-daygrid-more-link{
    float: right;
    margin-right: 1.25rem;
    margin-top: 10px;
    font-weight: 500;
    font-size: 13px;
    color: rgb(var(--color-primary));
}
#jobCalendar.fc-direction-ltr .fc-daygrid-more-link:hover{
    background-color: rgb(var(--color-primary));
    color: #FFF;
}
#jobCalendar.full-calendar .fc-popover-body .fc-daygrid-event-harness{
    margin-left: 0;
    margin-right: 0;
}
#jobCalendar.full-calendar .fc-list-event-dot{
    width: 10px;
    height: 10px;
    border: none !important;
}
@media (max-width: 1023px){
    #jobCalendar.full-calendar .fc-toolbar .fc-toolbar-chunk:nth-child(3){
        width: 100%;
    }
    #jobCalendar.full-calendar .fc-toolbar .fc-toolbar-chunk:nth-child(3) .fc-button-group{
        display: flex;
    }
    #jobCalendar.full-calendar .fc-toolbar .fc-toolbar-chunk:nth-child(3) .fc-button-group button{
        border-radius: 0;
    }
    #jobCalendar.full-calendar .fc-toolbar .fc-toolbar-chunk:nth-child(3) .fc-button-group button:first-child{
        border-radius: 0.375rem 0 0 0.375rem;
    }
    #jobCalendar.full-calendar .fc-toolbar .fc-toolbar-chunk:nth-child(3) .fc-button-group button:last-child{
        border-radius: 0 0.375rem 0.375rem 0;
    }
    #jobCalendar.full-calendar .fc-toolbar .fc-toolbar-chunk:nth-child(1) {
        order: 3;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    #jobCalendar.fc-direction-ltr .fc-daygrid-more-link{
        margin-right: 0;
        padding: 0;
        white-space: normal;
        text-align: center;
        line-height: 1;
    }
    #jobCalendar.full-calendar .fc-daygrid-day-bottom{
        padding-top: 0;
        top: -5px;
        position: relative;
        margin: 0;
    }
}


/* Wizard Form Styling Start */
.form-wizard-steps .active button,
.form-wizard-steps .activated button{
    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-primary) / var(--tw-bg-opacity, 1));
    --tw-border-opacity: 1;
    border-color: rgb(var(--color-primary) / var(--tw-border-opacity, 1));
    color: #FFF;
}
.form-wizard-steps .active div,
.form-wizard-steps .activated div{
    font-weight: 500 !important;
    color: var(--color-primary);
}
.form-wizard .wizard-fieldset {
    display: none;
}
.form-wizard .wizard-fieldset.show {
    display: block;
}
.form-wizard .wizard-fieldset .wizard-step-form,
.form-wizard .wizard-fieldset.show .wizard-step-form{
    display: block;
}
@media (max-width: 768px){
    .form-wizard .wizard-fieldset,
    .form-wizard .wizard-fieldset.show {
        display: block;
    }
    .form-wizard .wizard-fieldset .wizard-step-form{
        display: none;
    }
    .form-wizard .wizard-fieldset.show .wizard-step-form{
        display: block;
    }
    /* .wizard-step-form .gsfSignature canvas{
        width: 316px;
        height: 210px;
    } */
    .wizard-step-form .gsfSignature .e-signpad > div{
        height: 36px;
        overflow: hidden;
    }
}
/* Wizard Form Styling End */
.radioItem  label{
    opacity: .35;
}
.radioItem input[type="radio"]:checked + label{
    opacity: 1;
}
.radioItem label svg.checked{
    display: none;
}
.radioItem input[type="radio"]:checked + label svg.checked{
    display: inline-flex;
}
.radioItem label svg.unchecked{
    display: inline-flex;
}
.radioItem input[type="radio"]:checked + label svg.unchecked{
    display: none;
}

.gsfSignature .sign-pad-button-submit{
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    font-size: 0;
    position: absolute;
}
.gsfSignature .sign-pad-button-clear{
    margin: 0;
    display: block;
    width: 100%;
    border-radius: 0 0 3px 3px;
    color: #64748b;
    background: #e2e8f0b3;
}
.gsfSignature .e-signpad > div {
    display: block;
    width: 100%;
    position: relative;
}
.gsfSignatureBtns button.active:hover{
    background: #259E94 !important;
    opacity: .8;
}
@media (max-width: 768px){
    #invoiceItemsTable .vatCol.hidden,
    #invoiceItemsTable .vatField.hidden,
    #quoteItemsTable .vatCol.hidden,
    #quoteItemsTable .vatField.hidden{
        display: none !important;
    }
    #invoiceItemsTable tbody tr td,
    #quoteItemsTable tbody tr td{
        border-bottom-width: 0;
        border-top-width: 0;
    }
    #invoiceItemsTable tbody tr td:first-child,
    #quoteItemsTable tbody tr td:first-child{
        border-top-width: 1px;
        border-bottom-width: 1px;
    }
    #invoiceItemsTable tbody tr:last-child td:last-child,
    #quoteItemsTable tbody tr:last-child td:last-child{
        border-bottom-width: 1px;
    }
    #invoiceItemsTable tbody tr td:not(:first-child):before ,
    #quoteItemsTable tbody tr td:not(:first-child):before {
        content: attr(data-th) ": ";
        font-weight: 500;
        width: 110px;
        display: inline-block;
    }
    #invoiceItemsTable tbody tr:nth-child(even),
    #quoteItemsTable tbody tr:nth-child(even){
        background-color: #f1f5f9;
    }
}

.w-\[105px\]{
    width: 105px;
}
.w-\[110px\]{
    width: 110px;
}
.w-\[115px\]{
    width: 115px;
}
.h-\[29px\]{
    height: 29px;
}
.h-\[94px\]{
    height: 94px;
}

.border-b-1{
    border-bottom-width: 1px;
}
.border-l-sec{
    border-left-color: #1d6a87 !important;
}
.border-r-sec{
    border-right-color: #1d6a87 !important;
}
.border-b-sec{
    border-bottom-color: #1d6a87 !important;
}
.border-t-sec{
    border-top-color: #1d6a87 !important;
}
.bg-light-2{
    background-color: #D4EFFB;
}

.pdfViewer{
    width: 100%; 
    height: 98vh;
}
@media (max-width: 768px){
    .pdfViewer{
        height: 40vh;
        max-height: 100vh;
    }
}
@media (max-width: 768px){
    .hiddenBr br{
        display: none;
    }
}

/* GAS ACCORDION */
.gasapp-accordion .gasapp-accordion-collapse.gasapp-collapse.gasapp-show {
    visibility: visible;
}
.gasapp-accordion-button .accordionCollaps{
    position: absolute;
    right: 65px;
    top: 15px;
    width: 20px;
    height: 20px;
}
.gasapp-accordion-button .accordionCollaps::after{
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: rgb(var(--color-primary) / var(--tw-text-opacity));

    transition: all ease 300ms;
    -moz-transition: all ease 300ms;
    -webkit-transition: all ease 300ms;
}
.gasapp-accordion-button .accordionCollaps::before{
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: rgb(var(--color-primary) / var(--tw-text-opacity));
    opacity: 1;
    visibility: visible;

    transition: all ease 300ms;
    -moz-transition: all ease 300ms;
    -webkit-transition: all ease 300ms;
}
.gasapp-accordion-button:not(.gasapp-collapsed) .accordionCollaps::before{
    opacity: 0;
    visibility: hidden;
}
.gasapp-accordion-button:not(.gasapp-collapsed) .accordionCollaps::after{
    background: #FFF;
}
/* GAS ACCORDION */


#certificateListTable .tabulator-responsive-collapse > table > tr:nth-child(1) > td:nth-child(2),
#certificateListTable .tabulator-responsive-collapse > table > tr:nth-child(6) > td:nth-child(2)
{
    display: none;
}

.w-\[20px\] {
    width: 20px;;
}
.h-\[20px\]{
    height: 20px;
}
.w-\[15px\] {
    width: 15px;;
}
.h-\[15px\]{
    height: 15px;
}
.customerPropertyOccupantBlock .theDesc{
    text-transform: capitalize;
}

.flex-zero-full{
    flex: 0 0 100%;
}
@media (max-width: 768px){
    .certificateListTable tbody tr{
        display: block;
    }
    .certificateListTable tbody tr td{
        display: block;
    }
    .right-12px{
        right: 12px;
    }
}

.packageItems input:checked + label .packageTop{
    background: rgb(13, 148, 136);
}
.packageItems input:checked + label .packageBottom{
    border-color: rgb(13, 148, 136);
}

.overlayBG::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .45);
}

.bg-success-40 {
    background-color: rgb(var(--color-success) / 0.4);
}
.bg-danger-40 {
    background-color: rgb(var(--color-danger) / 0.4);
}

.inlineTomSelect.tom-select.ts-wrapper{
    border: none;
    border-radius: 0;
    padding: 0;
    box-shadow: none;
    background-position: center right 0rem;
}
.inlineTomSelect.tom-select.ts-wrapper, .inlineTomSelect.tom-select.plugin-dropdown_input.focus.dropdown-active{
    border: none;
    border-radius: 0;
    background-position: center right 0rem;
}
.inlineTomSelect.tom-select.ts-wrapper .ts-control{
    font-size: 14px;
    line-height: 20px;
    color: #475569;
    border: none;
    border-radius: 0;
    padding: 0;
    min-height: initial;
}
.inlineTomSelect.tom-select.ts-wrapper .inlineTomSelect.ts-control, .tom-select.plugin-dropdown_input.focus.dropdown-active .ts-control{
    font-size: 14px;
    line-height: 20px;
    color: #475569;
    border: none;
    border-radius: 0;
    padding: 0;
    min-height: initial;
}


.form-wizard input[type=number]::-webkit-inner-spin-button, 
.form-wizard input[type=number]::-webkit-outer-spin-button ,
#otpLoginForm input[type=number]::-webkit-inner-spin-button, 
#otpLoginForm input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}


#job_inline_calender_date .litepicker{
    box-shadow: none;
    border-radius: 0;
    margin: 0;
    border: none;
    width: 100%;
}
#job_inline_calender_date .litepicker .container__main,
#job_inline_calender_date .litepicker .container__months,
#job_inline_calender_date .litepicker .container__months .month-item{
    width: 100%;
}
#job_inline_calender_date .litepicker .container__months .month-item-weekdays-row{
    width: 100%;
}
#job_inline_calender_date .litepicker .container__days{
    width: 100%;
    gap: 4px;
}
#job_inline_calender_date .litepicker .container__days > div, 
#job_inline_calender_date .litepicker .container__days > a {
    padding: 25px 0;
    background: #f1f5f966;
    width: calc((100% / 7) - 4px);
    cursor: pointer;
    font-weight: 600;
    /* color: #644444; */
    border-radius: 0;
}
#job_inline_calender_date .litepicker .container__days .day-item:not(.is-locked):hover {
    background-color: #f1f5f9;
    color: #1e293b;
}
#job_inline_calender_date .litepicker .container__days .day-item.is-locked {
    cursor: not-allowed;
    /* background: rgba(252, 227, 230, 0.45);
    color: #6444447a; */
}
#job_inline_calender_date .litepicker .container__days .day-item.is-today{
    /* background-color: #bb777747; */
}
#job_inline_calender_date .litepicker .container__days .day-item.is-start-date, 
#job_inline_calender_date .litepicker .container__days .day-item.is-start-date:hover, 
#job_inline_calender_date .litepicker .container__days .day-item.is-end-date, 
#job_inline_calender_date .litepicker .container__days .day-item.is-end-date:hover {
    background-color: #334155;
    color: white;
}
#job_inline_calender_date .litepicker .container__months .month-item-weekdays-row>div{
    color: #334155;
    font-weight: 700;
    line-height: 1;
    padding: 20px 0 20px;
    text-transform: uppercase;
}
.jobCalSlot input:checked + label{
    background-color: #0d9488;
    color: #FFF;
}
.jobCalSlot input:disabled + label{
    background-color: #b91c1c;
    border-color: #b91c1c;
    cursor: not-allowed;
    color: #FFF;
}

@media (max-width: 767px){
    #job_inline_calender_date .litepicker .container__days > div, #job_inline_calender_date .litepicker .container__days > a{
        padding: 15px 0;
    }
}
#updateApointDateModal #job_inline_calender_date .litepicker .container__days > div, #job_inline_calender_date .litepicker .container__days > a{
    padding: 7px 0;
    font-size: 13px;
    font-weight: 500;
    width: calc((100% / 7) - 2px);
}
#updateApointDateModal #job_inline_calender_date .litepicker .container__days{
    gap: 2px;
}
#updateApointDateModal #job_inline_calender_date .litepicker .container__months .month-item-weekdays-row>div{
    font-size: 11px;
    font-weight: 500;
    padding: 15px 0 10px;
}
#updateApointDateModal  #job_inline_calender_date .litepicker .container__months, 
#updateApointDateModal  #job_inline_calender_date .litepicker .container__months .month-item, 
#updateApointDateModal  #job_inline_calender_date .litepicker .container__months .month-item-header{
    padding: 0;
}
#job_calender_date:read-only{
    background: transparent;
}

.owl-dots{
    display: flex;
    justify-content: center;
    padding: 15px 0 5px;
    gap: 5px;
}
.packageSLider.owl-carousel .owl-nav button.owl-prev, .packageSLider.owl-carousel .owl-nav button.owl-next, .packageSLider.owl-carousel button.owl-dot{
    width: 12px;
    height: 6px;
    background: #cbd5e1;
}
.packageSLider.owl-carousel .owl-nav button.owl-prev.active, 
.packageSLider.owl-carousel .owl-nav button.owl-next.active, 
.packageSLider.owl-carousel button.owl-dot.active{
    background: #0d9488;
}